<!DOCTYPE html>
<html>
  <head>
    <title>살곶이정 회원목록</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/search_properties.js"></script>
    <script src="/javascripts/search_common.js"></script>
    <script>
      $(document).ready(function() {

        searchDatas('members', 'result_datas');
        searchDatas('game_members', 'game_join_members');


        $("#applyMembers").click(function() {

          var applyMembers = [];

          $.each($("input[name='item']:checked"), function(){
              applyMembers.push($(this).val());
          });

          let params = {"gnum":$("#gnum").val(), "memberIds":applyMembers};
          manipulateAjaxById('add', 'game_members', params, function(result) {
            manipulateAjaxById('add', 'add_member_to_game_shooting_group', params, function(result) {

              callAjaxProtocol('members', params, 'result_datas');
              callAjaxProtocol('game_members', params, 'game_join_members');
            });
          });

        });

      });

    </script>

  </head>
  <body>
    <h3><a href="/salgozi/">홈으로</a></h3>
    <table align="center">
      <tr>
        <td valign="top">
          <h1>살곶이정 회원목록</h1>
          <select id="search_column_members">
            <option value="name">이름</option>
            <option value="gender">성별</option>
            <option value="position_name">호칭</option>
            <option value="bonus">덤</option>
            <option value="shooting_priority">팔찌동</option>
            <option value="join_date">입정일</option>
            <option value="regular_date">집궁일</option>
            <option value="first_5hits_date">초몰기일</option>
          </select>&nbsp;
          <input id="search_value_members" onkeyup="searchDatas('members', 'result_datas');" type="text" size="12" />
          <input type="hidden" id="sort_column_members">
          <input type="hidden" id="sort_by_members">
          <div id="result_datas"></div>
        </td>
        <td valign="top" width="80" align="center">
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <select id="gnum">
            <option value="293">293회</option>
          </select><br>
          <button id="applyMembers">적용하기</button>
        </td>

        <td valign="top">
          <h1>제 293회 삭회 참가자</h1>
          <select id="search_column_game_members">
            <option value="name">이름</option>
          </select>&nbsp;
          <input id="search_value_game_members" onkeyup="searchDatas('game_members', 'game_join_members');" type="text"/>
          <input type="hidden" id="sort_column_game_members">
          <input type="hidden" id="sort_by_game_members">
          <div id="game_join_members"></div>
        </td>
      </tr>
    </table>
    <br><br><br>
  </body>
</html>
