<!DOCTYPE html>
<html>
  <head>
    <title>살곶이정</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>살곶이정 삭회관리화면</h1>
    <h3><a href="/salgozi/members">회원목록</a></h3>
    <h3><a href="/salgozi/monthly_games">삭회이력</a><h3>
    <h3><a href="/salgozi/game_score">삭회개인성적</a><h3>
    <h3><a href="/salgozi/game_shooting">개인전 작대</a><h3>
    <h3><a href="/salgozi/game_team_jakdae">단체전 작대</a><h3>
  </body>
</html>
